faiss_cpu
fastembed
fuzzywuzzy
groq
joblib
negspacy
nltk
numpy
pandas
peft
rapidfuzz
ratelimit
scipy
scispacy
sent2vec
sentence_transformers
spacy
stanza
torch
tqdm
transformers
accelerate
bitsandbytes
